# App runtime environment.
# This file is copied to .container/.env.app if that file does not exist.
#
# Examples:
# DATABASE_URL=postgres://dev:dev@postgres-myapp:5432/myapp
# REDIS_URL=redis://redis-myapp:6379/0
